.suuzi {
    width: 110px;
    height: 110px;
    margin: 5px;
    font-size: 90px;
}
.enzansi {
    width: 110px;
    height: 110px;
    margin: 5px;
    font-size: 90px;
    background-color: aqua;
}
#equal {
    background-color: orange;
}
#reset {
    background-color: red;
}
#kakubasyo {
    width: 1000px;
    height: 50px;
    font-size: 30px;
    border: solid;
}
#enzan {
    
}