.suuzi {
    width: 110px;
    height: 110px;
    margin: 5px;
    font-size: 90px;
}
.enzan {
    width: 110px;
    height: 110px;
    margin: 5px;
    font-size: 90px;
    background-color: aqua;
}
#epual {
    background-color: orange;
}
#reset {
    background-color: red;
}
#kakubasyo {
    height: 50px;
    font-size: 30px;
    border: solid;
}
#enzan {
    
}